nav {
	list-style-type: none;
    overflow: hidden;
    background-color: rgb(13, 151, 140);
    position: fixed;
    width: 100%;
    z-index: 1;
    margin: 0;
}

header {
    overflow: hidden;
}
.nav-bar {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color:rgb(92, 179, 150);
    text-align: center;
    padding: 0px;
    margin: 0;
    text-decoration: none;
}

.nav-list h1 {
    display: flex;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    margin: 0;
}

.org-name {
    display: flex;
    color: white;
    text-decoration: none;
}

.nav-link {
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    margin: auto;
    font-size: large;
    font-weight: bold;
}

.nav-link:hover {
    color: rgb(10, 105, 69);
}

.search-bar {
    padding: 5px;
    margin: 10px;
    margin-left: 30px;
    min-width: 30%;
    display: flex;
    justify-content: flex-end;
}


/* body {
    background-image: url(Img/more-leaves-on-green.png);
    margin: 0px;
} */

main {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 20px 0px rgb(61, 61, 61) ;
    margin: 5%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

div h1 {
    text-align: center;
}