{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row mx-auto">
    {% for item, img in items.items(): %}
            <div class="col-md-4 shadow p-0 m-2 mx-auto" style="max-width: 40vh; ">
                <img class="img-fluid" style="min-height: 40vh;" src="{{url_for('static', filename=img)}}" alt="Picture of {{ item }}">
                <div>
                    <h3 class="text-center"><a class="stretched-link text-decoration-none text-dark" href="#">{{ item }}</a></h3>
                </div>
        </div>
        {% endfor %}
    </div>
</div>
    {% endblock %}