@import "colors";

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    background-color: $my-white;
}

form {
    max-height: 100%;
    width: 30%;
    margin: 2rem;
    background-color: $my-white-shade;
    align-items: center;
}

textarea {
    height: 5rem;
    width: 90%;
}

input {
    width: 90%;
    height: 2rem;
    align-self: center;
}

option, select {
    height: 2rem;
    align-self: flex-start;
    margin-left: 1rem;
}

fieldset {
    display: flex;
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    & label {
        align-self: flex-start;
        margin-left: 1rem;
    }
  }

label {
    padding: 1rem 0 0.5rem 0;
}
