@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import "colors";

main {
    padding-top: 2rem;
    background-color: $my-white;
    width: 100%;
}

.flower-section{
    position: relative;
    height: 42rem;
    /* background: radial-gradient(rgb(33, 145, 107), rgb(15, 70, 52)); */
    background: radial-gradient($my-green, darken($my-green, 20%));
    /* background: radial-gradient(rgb(13, 138, 125), rgb(7, 68, 63)); */
    overflow: hidden;
}

.set{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.set div{
    position: relative;
    display: block;
}
.set div img{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.set div:nth-child(1){
    position: absolute;
    left: 5%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
.set div:nth-child(2){
    position: absolute;
    left: 15%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}
.set div:nth-child(3){
    position: absolute;
    left: 25%;
    animation: animate 25s linear infinite;
}
.set div:nth-child(4){
    position: absolute;
    left: 35%;
    animation: animate 15s linear infinite;
}
.set div:nth-child(5){
    position: absolute;
    left: 50%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}
.set div:nth-child(6){
    position: absolute;
    left: 65%;
    animation: animate 12s linear infinite;
    animation-delay: -8s;
}
.set div:nth-child(7){
    position: absolute;
    left: 75%;
    animation: animate 14s linear infinite;
}
.set div:nth-child(8){
    position: absolute;
    left: 85%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
.set div:nth-child(9){
    position: absolute;
    left: 95%;
    animation: animate 19s linear infinite;
}

@keyframes animate{
    0%{
        top: -10%;
        opacity: 0;
        transform: translateX(20px) rotate(0deg);
    }
    10%{
        opacity: 1;
    }
    20%{
        transform: translateX(-20px) rotate(45deg);
    }
    40%{
        transform: translateX(-20px) rotate(90deg);
    }
    60%{
        transform: translateX(20px) rotate(135deg);
    }
    80%{
        transform: translateX(-20px) rotate(180deg);
    }
    100%{
        top:110%;
        transform: translateX(-20px) rotate(225deg);
    }
}

.set2{
    position: absolute;
    transform: scale(1.5) rotateY(180deg);
    filter: blur(1px);
    z-index: 0;
}

.set3{
    position: absolute;
    transform: scale(0.8) rotateX(180deg);
    filter: blur(2px);
    z-index: 0;
}

.flower-title{
    position: absolute;
    top: 50%;
    transform: translateY(-50% );
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    text-shadow: 4px 4px 4px rgb(65, 65, 65);
    font-weight: 600;
}

.my-section{
    height: min-content;
    width: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
    h3 {
        text-align: center;
        font-size: 1.5rem;
        color: $my-dgreen;
        font-family: 'Segoe UI';
        font-weight: 700;
    }
}

.my-section-container {
    display: flex;
    height: min-content;
    align-items: center;
}

.my-section-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 3rem;
}

.card-container {
    display: flex;
    height: min-content;
    align-self: center;
}

.card{
    height: 12rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.1rem;
    align-items: center;
    text-align: center;
    margin: 1rem;
    border-radius: 2rem;
    color: $my-white-dark;
    box-shadow: inset 10px 10px 6px #f2ead8, 
                inset -10px -10px 6px #ffffee;
    &:hover{
        box-shadow:  10px 10px 6px #f2ead8, 
                    -10px -10px 6px #ffffee;
    }
}

.shield{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    max-height: 60vh;
    max-width: 60vw;
}

@media only screen and (max-width: 600px) {
    header {
        display: none;
    }
    .my-section-row {
        flex-direction: column;
    }
    .shield {
        align-self: center;
        margin-bottom: 2rem;
    }
    .card-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .card {
        height: 18rem;
        width: 15rem;
    }
    // .card a {
    //     font-size: 1rem;
    //     padding: 0 1rem 0 1rem
    // }
    :root {
        font-size: 0.7rem;
    }
}
