{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/grid.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="sidebar">
        <h3>Ciudad</h3>
        <a href="{{ request.url.split('&town')[0] + '&town=capiovi'}}">Capioví</a>
        <a href="{{ request.url.split('&town')[0] + '&town=caraguatay' }}">Caraguatay</a>
        <a href="{{ request.url.split('&town')[0] + '&town=el_alcazar' }}">El Alcazar</a>
        <a href="{{ request.url.split('&town')[0] + '&town=garuhape' }}">Garuhapé</a>
        <a href="{{ request.url.split('&town')[0] + '&town=montecarlo' }}">Montecarlo</a>
        <a href="{{ request.url.split('&town')[0] + '&town=puerto_rico' }}">Puerto Rico</a>
        <a href="{{ request.url.split('&town')[0] + '&town=ruiz_de_montoya' }}">Ruiz de Montoya</a>
    </div>
    <div class="product-container">
        {% for item in items: %}
        <div class="product-card">
            <div class="hovereffect">
                {% if item.img in files %}
                <img class="" src="{{url_for('static', filename='product_pics/' + item.img)}}" alt="Picture of {{ item.name }}">
                {% else %}
                <img class="" src="{{url_for('static', filename='product_pics/default.jpg')}}" alt="Picture of {{ item.name }}">
                {% endif %}
                <div class="overlay"></div>

            </div>
            <div class="info-container">
                <h4>{{ item.name }}</h4>
                <!-- <div class="icons-container"> -->
                    {% for icon, data in item.contact.items() %}
                        {% if icon == 'location' and data %}
                            <div class="icon-div">
                                <img src="{{ url_for('static', filename='icons/' + icon + '.svg')}}" alt="A {{icon}} icon">
                                <a href="{{ 'https://www.google.com/maps/search/?api=1&query=' + data }}">{{data}}</a>
                            </div>
                        {% elif icon == 'website' and data %}
                            <div class="icon-div">
                                <img src="{{ url_for('static', filename='icons/' + icon + '.svg')}}" alt="A {{icon}} icon">
                                <a href="{{ data }}">{{ data }}</a>
                            </div>
                        {% elif data %}
                            <div class="icon-div">
                                <img src="{{ url_for('static', filename='icons/' + icon + '.svg')}}" alt="A {{icon}} icon">
                                <p>{{data}}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                <!-- </div> -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}