{% extends "layout.html" %}

{% block style %}
<style>
    .my-sidebar{
        min-width: 10rem;
        max-width: 20rem;
    }
    .my-flexbox{
        display: flex;
    }
    .hovereffect {
        /* width:100%;
        height:100%; */
        float:left;
        overflow:hidden;
        position:relative;
        text-align:center;
        cursor:default;
        }
        
    .hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
    }
    
    .hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }
    
    .hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    }
    
    .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid my-4 my-flexbox">
    <div class="container my-sidebar px-0 mx-3">
        <div>
            <h2 class="text-center mt-2 pb-2 mx-0 border-bottom">Filtros de Busqueda</h2>
        </div>
        <div class="border-bottom">
            <h3 class="pl-4">Ubicación</h3>
            <ul class="pl-5">
                <li>Ruiz de Montoya</li>
                <li>Capioví</li>
                <li>Garuhapé</li>
                <li>Puerto Rico</li>
                <li>El Alcazar</li>
                <li>Montecarlo</li>
                <li>Caraguatay</li>
            </ul>
        </div>
        <div class="border-bottom">
            <h3 class="pl-4">Moneda</h3>
        </div>
        <div class="border-bottom">
            <h3 class="pl-4">Precio</h3>
        </div>
    </div>
    <div>
        <div class="row mx-auto">
            {% for item in items: %}
                <div class="col-md-4 shadow m-4 p-0" style="max-width: 20vw;">
                    <div class="hovereffect">
                        <img class="img-fluid" style="min-height: 40vh;" src="{{url_for('static', filename=item.image_file)}}" alt="Picture of {{ item.city_name }}">
                        <div class="overlay"></div>
                    </div>
                    <div>
                        <h3 class="text-center"><a class="text-decoration-none text-dark" href="#">{{ item.city_name }}</a></h3>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row mx-auto">
    {% for item in items: %}
        <div class="col-md-4 shadow p-0 m-2" style="max-width: 40vh; ">
            <img class="img-fluid" style="min-height: 40vh;" src="{{url_for('static', filename=item.image_file)}}" alt="Picture of {{ item.city_name }}">
            <h3 class="text-center"><a class="stretched-link text-decoration-none text-dark" href="#">{{ item.city_name }}</a></h3>
        </div>
    {% endfor %}
    </div>
</div> -->
{% endblock %}