{% extends "layout.html" %}

{% block style %}

        .my-section{
            min-height: 25rem;
            width: 100%;
            margin: 0;
            border: 0;
        }
        .bg-gray{
            background-color: rgb(238, 238, 238);
        }

{% endblock %}

{% block content %}
<main>
    <!-- <div class="container bg-light pt-3 border shadow"> -->
        <div class="container-fluid border bg-gray">
            <div class="text-center">
                <h1>Bienvenido a Flores Turismo!</h1>
            </div>
        </div>
        <div class="container-fluid my-section border">
            <div class="text-center">
                <h3>La Region de las Flores</h3>
            </div>
        </div>
        {% set gray_used = False %}
        {% for town in towns.keys() %}
        <div class="text-center {{ towns[town]['color'] }}">
            <h3 class="m-0">{{ town }}</h3>
        </div>
        <div class="container-fluid my-section border-bottom {{ towns[town]['color'] }}">
                <div class="container">
                    <div class="row align-items-center" style="min-height: 25rem; justify-content: space-around;">
                        <img src="{{url_for('static', filename=towns[town]['img'])}}" class="img-fluid col-sm-3" alt="A picture of {{ town }}">
                        <p class="col-sm-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        <!-- <div class="container-fluid my-section border">
            <div class="text-center">
                <h3>About</h3>
            </div>
        </div>
        <div class="container-fluid my-section border bg-gray">
            <div class="text-center">
                <h3>Contact Us</h3>
            </div>
        </div>
        <footer>Footer placeholder</footer>
</div>
</main> -->
{% endblock %}