{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block header %}
    <header>
        <section class="flower-section">
            <h2 class="flower-title">Bienvenido a Flores Turismo</h2>
            <div class="set">
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/1.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/2.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/3.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/4.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/5.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/6.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/7.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/8.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/9.png')}}" alt=""></div>
            </div>
            <div class="set set2">
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/1.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/2.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/3.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/4.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/5.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/6.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/7.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/8.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/9.png')}}" alt=""></div>
            </div>
            <div class="set set3">
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/1.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/2.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/3.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/4.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/5.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/6.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/7.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/8.png')}}" alt=""></div>
                <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/9.png')}}" alt=""></div>
            </div>
        </section>
    </header>
{% endblock %}
{% block content %}
<main>
    {% set ns = namespace(used=false) %}
    {% for town in towns.keys() %}
    {% if ns.used == false %}
    <div class="my-section my-white">
        <h3 class="">{{ town }}</h3>
        <div class="my-section-container">
            <div class="my-section-row">
                <img src="{{url_for('static', filename=towns[town]['img'])}}" class="shield" alt="A picture of {{ town }}">
                <div class="card-container">
                    <div class="card my-white-shade">Atractivos</div>
                    <div class="card my-white-shade">Gastronomia</div>
                    <div class="card my-white-shade">Alojamiento</div>
                </div>
            </div>
        </div>
    </div>
    {% set ns.used = true %}
    {% else %}
    <!-- <div class="text-center my-primary-darker">
                </div> -->
    <div class="my-section my-white-shade">
        <h3>{{ town }}</h3>
        <div class="my-section-container">
            <div class="my-section-row">
                <img src="{{url_for('static', filename=towns[town]['img'])}}" class="shield" alt="A picture of {{ town }}">
                <div class="card-container">
                    <div class="card my-white">Atractivos</div>
                    <div class="card my-white">Gastronomia</div>
                    <div class="card my-white">Alojamiento</div>
                </div>
            </div>
        </div>
    </div>
    {% set ns.used = false %}
    {% endif %}
    {% endfor %}
</main>
{% endblock %}