{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
{% endblock %}

{% block content %}
<header>
    <section class="flower-section">
        <h2 class="flower-title">Bienvenido a Flores Turismo</h2>
        <div class="set">
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/1.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/2.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/3.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/4.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/5.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/6.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/7.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/8.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/9.png')}}" alt=""></div>
        </div>
        <div class="set set2">
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/1.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/2.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/3.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/4.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/5.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/6.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/7.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/8.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/9.png')}}" alt=""></div>
        </div>
        <div class="set set3">
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/1.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/2.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/3.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/4.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/5.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/6.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/7.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/8.png')}}" alt=""></div>
            <div> <img style="width: 6rem;" src="{{url_for('static', filename='img/flores/9.png')}}" alt=""></div>
        </div>
    </section>
</header>
<main style="position: relative;">
        {% set ns = namespace(used=false) %}
        {% for town in towns.keys() %}
            {% if ns.used == false %}
                <div class="text-center my-primary">
                    <h3 class="m-0">{{ town }}</h3>
                </div>
                <div class="container-fluid my-section border-bottom my-primary">
                    <div class="container">
                        <div class="row align-items-center" style="min-height: 25rem; justify-content: space-around;">
                            <img src="{{url_for('static', filename=towns[town]['img'])}}" class="img-fluid col-sm-2 shadow" alt="A picture of {{ town }}">
                            <p class="col-sm-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                        </div>
                    </div>
                </div>
                {% set ns.used = true %}
            {% else %}
                <div class="text-center my-secondary">
                    <h3 class="m-0">{{ town }}</h3>
                </div>
                <div class="container-fluid my-section border-bottom my-secondary">
                    <div class="container">
                        <div class="row align-items-center" style="min-height: 25rem; justify-content: space-around;">
                            <img src="{{url_for('static', filename=towns[town]['img'])}}" class="img-fluid col-sm-2 shadow" alt="A picture of {{ town }}">
                            <p class="col-sm-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                        </div>
                    </div>
                </div>
                {% set ns.used = false %}
            {% endif %}
        {% endfor %}
</main>
{% endblock %}