<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{% block title %}{% endblock %}</title>
<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/tailwind.css')}}"> -->
<link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
  function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
{% block style %}

{% endblock %}

<body>
    {% block header %}{% endblock %}
    {% block navbar %}
    <nav class="navbar" id="mynavbar">
      <a href="#home" class="brand">Flores Turismo</a>
      <div class="dropdown">
        <button class="dropbtn">Que hacer
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Atractivos</a>
          <a href="#">Actividades</a>
        </div>
      </div>
      <a href="#news">Gastronomía</a>
      <a href="#contact">Alojamiento</a>
      <div class="dropdown">
        <button class="dropbtn">Transporte
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Corta Distancia</a>
          <a href="#">Larga distancia</a>
          <a href="#">Alquileres</a>
        </div>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </nav>
    {% endblock %}

    {% block content %}
    
    {% endblock %}
</body>