<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/tailwind.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
{% block style %}

{% endblock %}

<body>
    {% block header %}{% endblock %}
    {% block navbar %}
    <nav class="nav">
      <ul class="nav-list">
         <li>
            <a class="brand text-xl font-semibold" href="#">Flores Turismo</a>
         </li>
         <li>
            <a class="nav-item" href="#">Que hacer</a>
         </li>
         <li>
           <a class="nav-item" href="#">Alojamiento</a>
         </li>
         <li>
           <a class="nav-item" href="#">Gastronomía</a>
         </li>
         <li>
           <a class="nav-item" href="#">Transporte</a>
         </li>
        </ul>
        <div class="search-bar">
          <input class="search-bar-input" placeholder="Search..." type="text">
        </div>
      </nav>
    {% endblock %}

    {% block content %}
    
    {% endblock %}
</body>