<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{% block title %}{% endblock %}</title>
<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/tailwind.css')}}"> -->
<link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
  function myFunction() {
  var x = document.getElementById("myNavbar");
  if (x.className === "navbar") {
    x.className += " responsive";
  } else {
    x.className = "navbar";
  }
}
</script>
{% block style %}

{% endblock %}

<body>
    {% block header %}{% endblock %}
    {% block navbar %}
    <nav class="navbar" id="myNavbar">
      <a href="/" class="brand">Flores Turismo</a>

      <a href="/productos?ptype=atraccion">Que hacer</a>
      <a href="/productos?ptype=gastronomia">Gastronomía</a>
      <a href="/productos?ptype=alojamiento">Alojamiento</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </nav>
    {% endblock %}

    {% block content %}
    
    {% endblock %}
    {% block footer %}
    <footer>
      <div style="margin-left: 1rem;">Creado por Bachmann Lautaro y Arnt Florencia</div>
      <div><a href="/admin/login">Intranet</a></div>
    </footer>
    {% endblock %}
</body>